
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.Question-box {
    padding: var(--xs) var(--l);
}

.Question-title {
    color: var(--brown);
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Question-option {
    color: blueviolet;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

